@media only screen and (max-height: 940px) {

	h1 {
	    font-size: 68px;
	    line-height: 74px;
	}

	p {
	    font-size: 26px;
	    line-height: 36px;
	}

	.promo-sect {
	    padding: 5px 0 35px 0;
	}

	.sect-3 {
	    padding: 5px 0;
	}

	.sect-3:before {
	    height: 136px;
	    width: 156px;
	}

	.sect-3 p.p-bold {
	    padding: 0;
	}

	.sect-3 p {
	    padding: 8px 0;
	}

}


/*@media only screen and (max-height: 755px) {

	h1 {
	    font-size: 63px;
	    line-height: 72px;
	}

	p {
	    font-size: 23px;
	    line-height: 32px;
	}

	.promo-sect {
	    padding: 5px 0 35px 0;
	}

	.sect-3 {
	    padding: 0;
	}

	.sect-3 p.p-bold {
	    padding: 0;
	}

	.sect-3 p {
	    padding: 8px 0;
	}

}*/